@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ececec ;
}

header {
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 2px 4px #0000001a;
}

header img {
    width: 200px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

#caixaBusca {
    background-color: #fff;
    text-align: center;
    width: 80%;
    max-width: 700px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


main #mapa {
    margin: 20px;
    height: 400px;
    max-width: 90%;
    border: 1px solid rgba(0, 0, 0, 0.201);
    border-radius: 8px;
    display: none;
}

@media (min-width: 800px){
    main #mapa{
        max-width: 700px;
    }
    #caixaBusca{
        padding: 20px 40px 20px 40px;
    }
}


#caixaBusca #titulo {
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #333;
}

#caixaBusca #cep {
    margin-bottom: 20px;
    font-size: 1.2em;
    padding: 8px;
    width: calc(100% - 16px);
    border: 1px solid #ccc;
    border-radius: 5px;
}

#caixaBusca #result {
    text-align: left;
    font-size: 1.2em;
    color: #333;
    
    letter-spacing: .9px;
    line-height: 1.4em;
    padding: 20px 8px 0px 8px;
}

#caixaBusca #btnCep {
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#caixaBusca #btnCep:hover {
    background-color: #0056b3;
}
