@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
header img{
    width: 200px;
}
body{
    background-color: rgb(229, 238, 240);
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}
main #caixaBusca{
    background-color: white;
    text-align: center;
    width: 50vw;
    max-width: 400px;
    border-radius: 10px;
    border: 1px solid #0000005f;
}
main #caixaBusca p{
    margin: 20px 0px 10px 0px;
    font-size: 1.5em;
}
main #caixaBusca #cep{
    margin: 10px 0px;
    font-size: 1.5em;
    width: 90%;
}

main #caixaBusca #btnCep{
    font-size: 1.3em;
    margin: 20px;
    padding: 5px 15px;
    border: 1px solid #0000005f;
    border-radius: 5px;
    cursor: pointer;
}