@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.baseModal{
    display: flex;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000cc;
}
.internaModal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #181818;
    color: #828282;
    width: 90%;
    min-width: 360px;
    height: 70%;
    min-height: 700px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    overflow-y: auto;
    
}

/*Fechar*/
#fechar{
    display: flex;
    justify-content: end;
    height: 5%;
    padding-right: 10px;
}
#fechar span{
    font-size: 2em;
}

/*video*/
.internaModal #video{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 30%;
}
.internaModal #video iframe{
    width: 360px;
    height: 205px;
}

/*texto*/
.internaModal #texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 65%;
}
.internaModal #texto h2{
    margin-top:20px;
    margin-bottom: 1em;
}
.internaModal #texto p{
    text-align: justify;
    font-size: .9em;
    margin-bottom: 1em;
    width: 90%;
}

/*Links*/
.internaModal #links{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 40px 0px 50px 0px;
}
.internaModal #links ul{
    display: flex;
    list-style-type: none;
}
.internaModal #links ul li a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    background-color: #5e5e5e; 
    padding: 8px 24px; 
    margin: 0 10px; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}
.internaModal #links ul li a:hover {
    background-color: #3b3b3b; 
    transform: translateY(-2px); 
}



@media (min-width: 600px){
    .internaModal{
        width: 90%;
        max-width: 850px;
    }
    .internaModal #video{
        height: 45%;
    }
    .internaModal #texto{
        height: 50%;
    }
    .internaModal #video iframe{
        width: 460px;
        height: 265px;
    }
    .internaModal #texto p{
        width: 90%;
    }
}

@media (min-width: 850px){
    .internaModal{ 
        height: 70%;
        max-width: 850px;
    }
    .internaModal #video{
        height: 45%;
    }
    .internaModal #texto{
        height: 50%;
    }
    .internaModal #video iframe{
        width: 530px;
        height: 290px;
    }
    .internaModal #texto p{
        width: 90%;
    }
}

